<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @comedian.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @comedian.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comedian.name %>
</p>

<%= link_to 'Edit', edit_comedian_path(@comedian) %> |
<%= link_to 'Back', comedians_path %>
